<section class = "new_task">
<form action="http://localhost:3000/tasks" method="post">
  <div>New Task:
    <input type="text" name="new_task" size="20" maxlength="50" />
  </div>

  <div class="button">
        <button type="submit">Send your message</button>
  </div>
</form>

</section>
